@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap');

/* Table of Contents */

/* 
  1. General Styles
    
    1.1. Resets
    1.2. Font
    1.3  Other

  2. Section Styles

    2.1 Top-Bar
    2.2 Hero 
    2.3 About Us
    2.4 Our Services
    2.5 Contact Us
    
  3. Component Styles
    3.1 Buttons
    3.4 Text
*/





/* 1. General Styles */

/* 1.2 Resets */
*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}


/* 1.1 Font */
.body,
.navigation   { font-family: 'Source Sans pro', sans-serif; }


/* 1.3 Others */

:root  {
  --gray-colour: #666 ;
  --green-colour: #178A27 ;
  --light-green-colour: #449C44;
  --blue-colour: #1686C1 ;
  --light-blue-colour: #31B0D5;
  --red-colour: #852406;
  --light-red-colour: #C9302C;
}


.body { 
  display: flex;
  flex-direction: column;
 }


.wrapper  {
  width: 62.5%;
  margin: 0 auto;
}


.main  { margin-top:  78px; }





/* 2. Section Styles */

/* 2.1 Top Bar */

.navigation  {
  --main-bg: #383E4C;
  --secondary-bg: #49505E;
  --secondary-bg-darker: #646f87;

  width: 100%;
  height: 78px;
  
  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--main-bg);
}


  .navigation_list  {
    list-style: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
  }


    .navigation_list--item  { margin: 25px 20px 0 0; }


    .last  { margin-right: 0; }


      .navigation_link  {
        font-size: 20px;
        text-decoration: none;
        color: white;
        
        border: 1px solid var(--secondary-bg-darker);
        padding: 13px 30px;
      }


        .navigation_link:hover,
        .active  { background-color: var(--secondary-bg); }





  /* 2.2 Hero */

  .hero  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1920px;
    height: 540px;

    color: white;
    background: url('https://source.unsplash.com/1920x540/daily');
  }


    .hero_text  { width: 500px; }


    .hero_text--title  {
      font-size: 72px;
      font-weight: normal;
      text-shadow: 3px 2px #000;
      text-transform: uppercase;
    }


    .hero_text--sub-title  {
      font-size: 30px;
      text-shadow: 1px 0 #000;      
    }




    

    /* 2.3 About Us */

    .about-us  {
      margin: 70px auto;
      min-width: 1200px;
      max-width: 1200px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }


    .card  {
      background-color: #f2f2f2;
      margin-bottom: 50px;
    }


    .card-third  { width: 360px; }


    .card-half  { width: 555px; }


    .card-fourth  { width: 260px; }


    .card-full  { width: 100%; }


    .card_content  {
      margin: 20px 20px;
      display: flex;
      flex-direction: column;      
    }


    .card_content-title  {
      color: var(--gray-colour);
      font-size: 24px;

      margin-bottom: 20px;
    }


    .card_content-text  {
      margin-bottom: 20px;
      
      color: #333;
      line-height: 24px;
    }





    /* 2.4 Our Services */
    .service  {
      width: 100%;
      
    }


    .service_intro  {
      background: url('https://source.unsplash.com/1920x540/daily/?sig=2');
      height: 320px;
      padding: 50px;      
    }


    .service_intro-title  {
      font-size: 50px;
      font-weight: normal;
      text-shadow: 3px 2px #666;
      margin-bottom: 15px;
    }


    .service_intro-text  {
      /* width: 300px; */
      font-size: 22px;
      line-height: 30px;
      text-shadow: 1px 1px #333;
    }


    .service_list  { 
      margin: 70px auto;
      min-width: 1200px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;      
    }





/* 
    3. Component Styles
 */

    /* 3.1 Image Effects */

    .parallax  {
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }


    /* 3.2 Text Effects */

    .text-green  { color: var(--green-colour); }


    .text-blue  { color: var(--blue-colour); }


    .text-white  { color: white; }


    .text-center  { text-align: center; }

    
    /* 3.3 Button */

    .btn  {
      font-size: 18px;
      color: #666;
      background-color: #fff;
      
      width: 180px;
      margin: 10px 0 20px 0;
      padding: 15px 30px;

      border: 1px solid #ccc;
      border-radius: 5px;
    }


    .btn:hover,
    .btn:focus  { background-color: #e6e6e6; }


    .btn-center  { align-self: center; }


    .btn-right  { align-self: flex-end; }


    .btn-green  {
      color: white;
      background-color: var(--green-colour);
    }


      .btn-green:hover,
      .btn-green:focus  { background-color: var(--light-green-colour); }


    .btn-blue  {
      color: white;
      background-color: var(--blue-colour);
    }


      .btn-blue:hover,
      .btn-blue:focus  { background-color: var(--light-blue-colour); }


    .btn-red  {
      color: white;
      background-color: var(--red-colour);
    }


      .btn-red:hover,
      .btn-red:focus  { background-color: var(--light-red-colour); }